

/*
 * Color Schemes: #393939(dark grey), #FF5A09(vibrant orange), 
 * 				  #F3843E(De-vibrantified orange[don't like much]),
 * 				  #FF9900(light orange), #6E6E6E(light grey)
 */

.root{
	-fx-background-color: #6E6E6E;
}

.label .button{
	-fx-text-fill: #FFFFFF;
	-fx-font: normal bold "sans-serif" 20px;
	-fx-border-radius: 0;
}

#menu-list{
	
	-fx-spacing: 3px;
	-fx-alignment: center;
	
	-fx-background-color: #393939;
	
	-fx-border-color: linear-gradient(to right, , #FFFFFF, transparent);
	-fx-border-width: 2px;
	-fx-border-style: solid;  
}

#menu-list .button{
	-fx-background-color: derive(-color-background, -25%);
	-fx-background-radius: 0;
	
	-fx-graphic: "src/com/dspit/fx/nav/resources/Temp_Icon.png";
	
	-fx-border-color: #E1E1E1;
	-fx-border-width: 2px; 

}

#header {
	-fx-background-color: ;
	
	-fx-alignment: ;
	
	-fx-border-width: 0, 0, 2px, 0;
}

#header .label{
	-fx-background-color: transparent;
}